@import '@styles/variables';

input[type="radio"] {
    display: none;

    &:checked {
        +.box {
            opacity: 1;
            span {
                transform: translateY(70px);

                &:before {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }

            &--maker {
                background-color: #EEB426;
            }
            &--french {
                background-color: #9CAF96;
            }
            &--pour {
                background-color: #D4A1A6;
            }
            &--aero {
                background-color: #DA8464;
            }
            &--espresso {
                background-color: #A9C9E1;
            }
            &--pods {
                background-color: #C47D30;
            }
            &--moka {
                background-color: #D2C6C3;
            }
        }
    }
}

.box {
    width: 160px;
    height: 160px;
    padding: 2rem;
    background-color: #2222;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-weight: 900;
    opacity: 0.5;

    &:active {
        transform: translateY(10px);
    }

    span {
        position: absolute;
        transform: translate(0, 60px);
        left: 0;
        right: 0;
        transition: all 300ms ease;
        font-size: 1.5em;
        user-select: none;
        color: var(--primary-black);

        &:before {
            font-size: 1.2em;
            display: block;
            transform: translateY(-80px);
            opacity: 0;
            transition: all 300ms ease-in-out;
            font-weight: normal;
            color: var(--white);
        }
    }

    &--maker {
        background: url('@icons/coffee-maker-desktop.svg') no-repeat center 1.5rem;
        background-color: #E9E4DB;
        background-size: 30%;
    }
    &--french {
        background: #E9E4DB url('@icons/french-press-desktop.svg') no-repeat center 1.5rem;
        background-size: 30%;
    }
    &--pour {
        background: #E9E4DB url('@icons/pour-over-desktop.svg') no-repeat center 1.5rem;
        background-size: 30%;
    }
    &--aero {
        background: #E9E4DB url('@icons/aeropress-desktop.svg') no-repeat center 1.5rem;
        background-size: 30%;
    }
    &--espresso {
        background: #E9E4DB url('@icons/espresso-desktop.svg') no-repeat center 1.5rem;
        background-size: 30%;
    }
    &--pods {
        background: #E9E4DB url('@icons/pods-desktop.svg') no-repeat center 1.5rem;
        background-size: 30%;
    }
    &--moka {
        background: #E9E4DB url('@icons/pour-over-desktop.svg') no-repeat center 1.5rem;
        background-size: 30%;
    }
}