.survey{
    &__form {
        &-back {
            display: flex;
            justify-content: space-between;

            &--why {
                text-decoration: underline;
            }
        }

        &-cta {
            margin: 0 auto;
            width: 100px;
            text-align: center;
        }
    }

    &__title {
        text-transform: uppercase;

        @media (min-width: 768px) {
            font-size: 30px !important;
        }
    }

    &__options {
        align-items: center;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        margin: 2rem 0 3rem;

        @media (min-width: 768px) {
            flex-wrap: nowrap;
            position: relative;
            min-height: 150px;
            max-width: 950px;
            margin: 2rem auto;
        }
    }
}